body, html {
    height: 100%;
    margin: 0;
    font-family: Helvetica, sans-serif;
  }
  
/* nav fonts colour - TBD cause its not exactly the same as footer font colour*/
.nav-link
{
  color:#717171
}

